* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container {
  padding-top: 1rem;
  border: 3px solid black;
  height: 400px;
  width: 300px;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
}
button {
  padding: 1rem 2rem;
  background-color: white;
  border: 2px solid black;
}
button:hover {
  border: 2px dotted black;
}
.info {
  display: flex;
  flex-direction: column;
}
.holder {
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  margin: 0rem;
}
.container p {
  font-size: 0.8rem;
}
.userThought {
  display: flex;
  flex-direction: column;
}

#thoughtsSubject {
  padding: 0.3rem 2rem;
  margin-bottom: 0.5rem;
}
.btnGroup {
  display: flex;
  flex-direction: row;
}
.btnGroup button {
  padding: 0.2rem 0.5rem;
}
